.css-b62m3t-container {
    margin-bottom: 20px;
}
.css-1s2u09g-control {
    border-radius: 30px !important;
}
.css-4ljt47-MenuList {
    background-color: hsl(216deg 18% 16%);
}
.css-4ljt47-MenuList div:hover {
    background-color: #eee;
    color: hsl(216deg 18% 16%);
}
.css-1pahdxg-control {
    border-radius: 30px !important;
}
/* #react-select-2-listbox div div:hover {
    background-color: #eee;
    color: hsl(216deg 18% 16%);
} */
